@{
    ViewData["Title"] = "Home Page";
}

@{
    //  public class Person
    //    {

    //        public int Id { set; get; }

    //        public string Name { set; get;  }

    //        public Gender Gender { set; get; }

    //        public double Salary { set; get; }
    //    }
    //    object of person
    //    NewPerson(Person person)

    ////object in String
    //NewPersonStr(string person)

    //SrchByName(string Name)

    // SrchBySalary(double Salary)

    //SrchByTwoSalary(double Salary1, double Salary2)




}
<style>
   body  {
            padding-left: 5px;
    padding-right: 5px;
    }
   .container{
        margin:0px;
        width:100%;
   }
    .col-md-2 {
        margin:0px;
    width:20%;
    }
     
</style>

 

<div class="col-md-2 ">
    <button class="btn btn-primary newStr">New Person String</button>
    <div class="newStrRes"></div>
</div>

<div class="col-md-2 ">
    <button class="btn btn-primary SrchById">SrchById</button>
    <div class="SrchByIdRes"></div>
</div>

<div class="col-md-2 ">
    <button class="btn btn-primary SrchByName">SrchByName</button>
    <div class="SrchByNameRes"></div>
</div>

<div class="col-md-2  ">
    <button class="btn btn-primary SrchBySal">SrchBy Salary</button>
    <div class="SrchBySalRes"></div>
</div>

<div class="col-md-2 ">
    <button class="btn btn-primary SrchBy2Sal">SrchBy Between Two Salary</button>
    <div class="SrchBySal2Res"></div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js"></script>